// Colors //

$bg-color: rgb(230, 230, 230);
$light: #ffffff;
$light-trans: #ffffff7c;
$dark: #000000;
$dark-trans: #0000007c;
$primary: #56dd12;
$primary-trans: #56dd127c;
$secondary: #945b47;
$secondary-trans: #945c477c;
$danger: #bd022c;
$danger-trans: #bd022b7c;
$warning: #ee590f;
$warning-trans: #ee590f7c;

// FONTS //

$primary-font: "Raleway", sans-serif;
$secondary-font: "Italianno", cursive;
