.background {
  background-color: $dark-trans;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  .account_update {
    background-color: $light;
    min-width: 450px;
    max-width: 1050px;
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-top: 6px solid $primary;
    border-left: 3px solid $primary-trans;
    border-bottom: 6px solid $primary;
    border-right: 3px solid $primary-trans;
    border-radius: 15px;

    .header {
      position: relative;
      padding: 10px;

      h1 {
        text-align: center;
      }

      span {
        position: absolute;
        top: 0;
        right: 0;
        border: 2px solid $danger;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $danger-trans;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          color: $danger;
        }
      }
    }

    .body {
      width: 100%;
      padding: 15px;

      form {
        width: 100%;
        padding: 10px;

        .input_box {
          display: flex;
          flex-direction: column;

          label {
            margin-top: 10px;
            padding: 5px;
          }

          input {
            border: none;
            outline: none;
            padding: 10px 0;
            text-indent: 10px;
            font-family: inherit;
            font-size: 1.3rem;
            border-top: 4px solid $primary;
            border-left: 2px solid $primary-trans;
            border-radius: 15px;
            box-shadow: 0 8px 5px -2px $dark;
          }
        }

        .btn {
          margin-top: 20px;
        }
      }
    }

    @media (min-width: 1700px) {
      .header {
        h1 {
          font-size: 2.5rem;
        }

        span {
          border-width: 1px;
          width: 40px;
          height: 40px;
          font-size: 2rem;
        }
      }

      .body {
        form {
          .input_box {
            label {
              font-size: 1.8rem;
            }

            input {
              padding: 20px 0;
              font-size: 1.5rem;
              border-width: 6px;
              border-width: 3px;
              box-shadow: 0 12px 10px -4px $dark-trans;
            }
          }

          .btn {
            font-size: 2rem;
            padding: 20px 0;
            margin-top: 50px;
          }
        }
      }
    }

    @media (max-width: 1000px) {
      .header {
        h1 {
          font-size: 1.5rem;
        }
      }

      .body {
        form {
          .input_box {
            label {
              font-size: 1.2rem;
            }

            input {
              font-size: 1rem;
            }
          }
        }
      }
    }

    @media (max-width: 500px) {
      min-width: 250px;

      .header {
        h1 {
          font-size: 1rem;
        }

        span {
          border-width: 1px;
          width: 20px;
          height: 20px;
        }
      }

      .body {
        form {
          .input_box {
            label {
              font-size: 0.8rem;
            }

            input {
              padding: 5px 0;
              font-size: 0.6rem;
              border-width: 2px;
              border-width: 1px;
              box-shadow: 0 6px 3px -3px $dark-trans;
            }
          }

          .btn {
            font-size: 0.8rem;
            padding: 5px 0;
          }
        }
      }
    }
  }
}
